# ~/.ssh/conf.d/aifactory/config
# sandbox VM / gateway / 制御系へ直接 ssh するとき用。通常は `sandbox ssh <task-id>` を使う。
# 名前は <t>.sb.internal の下（規則: gw. / ctl. / task-<id>. / <pj>-NN.）。10.77.* は main テナントの網（別テナントは行を足す）
Host gw.*.sb.internal
    User root
    IdentityFile ~/.ssh/conf.d/aifactory/sb_ed25519
    StrictHostKeyChecking accept-new

Host ctl.*.sb.internal
    User aifactory
    IdentityFile ~/.ssh/conf.d/aifactory/sb_ed25519
    StrictHostKeyChecking accept-new

Host *.sb.internal
    User dev
    IdentityFile ~/.ssh/conf.d/aifactory/sb_ed25519
    StrictHostKeyChecking no
    UserKnownHostsFile /dev/null
    LogLevel ERROR

Host 10.77.*
    User dev
    IdentityFile ~/.ssh/conf.d/aifactory/sb_ed25519
    StrictHostKeyChecking no
    UserKnownHostsFile /dev/null
    LogLevel ERROR
